<div>
    <h3>Login con Github:</h3>
    <a href="/api/sessions/github"> <button>Ingresar con Github</button> </a>

    <h4>Ingresa con nuestros links: </h4>
    <p>¿No tienes cuenta con nosotros? <a href="/users/register">Regístrate aquí</a></p>
    <p>¿Ya tienes cuenta con nosotros? <a href="/users/login"> Login aquí</a></p>

</div>