<div >
    <h2>Login</h2>
    <form id="formLogin">
        <label for="email"> Email: </label>
        <input name="email" type="text" class="input">
        <label for="password">Contraseña: </label>
        <input name="password" type="password" class="input">
        <input type="submit">
    </form>
    <p>¿No tienes una cuenta? <a href="/api/sessions/register">Regístrate aquí</a></p>
    <p>¿Tienes una cuenta en Github? <a href="/github/login">Login por Github</a></p>

</div>

<script src="/js/loginAux.js"></script>