<div >
    <h2>Registrar nuevo usuario: </h2>
    <form id="formRegister">
        <label for="firstName"> Nombre: </label>
        <input name="firstName" type="text" class="input">
        <label for="lastName"> Apellido: </label>
        <input name="lastName" type="text" class="input">
        <label for="age"> Edad:: </label>
        <input name="age" type="text" class="input">
        <label for="email"> Email: </label>
        <input name="email" type="text" class="input">
        <label for="password">Contraseña: </label>
        <input name="password" type="password" class="input">
        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/api/sessions/login">Ingresa aquí</a></p>
</div>

<script src="/js/registerAux.js"></script>